*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* DEV CLASSES */
  
  .border-blue {
    border: 1px solid blue;
  }
  
  .border-green {
    border: 1px solid green;
  }
  
  .display-none {
    display: none !important;
  }
  
  .disabled {
    pointer-events: none;
    /* opacity: 0.7; */
  }

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

}

#root, .AppContainer {
    height: 100%;
}

.mapContainer {
    height: 50rem;
}

.mapBox {
    height: 80%;
    /* box-sizing: border-box; */
    margin: 6rem 1rem;
}

